.titre_principal {
	font-weight: bold;
	font-size: 30px;
	font-family: Architects Daughter;
	border : 5px;
}

.premiere_photo {
position: absolute;
top:10px;
right: 10px;
}

main{
background-color:#808080;
}

.date {
	font-size : 12px ;
	font-style:italic ;
	color : red;
}
.photo_central{
	position: absolute;
	top: 200px;
	right:50px; 
}